.movie_poster{
  width: 7rem;
  margin-left: -16%;
  
}
.col-sm-1{
  max-width: 11%;
  margin-bottom: 2%
}
.img{
  margin-left: 20px;
}
.img:hover{
  transform: scale(1.1);
}

.title{
  margin-top: 5%;
  font-size: 22px;
}

