.movie_poster{
  width: 7.5rem;
  margin-left: -16%;
  
}
.col-sm-1{
  max-width: 11%;
  margin-bottom: 2%;
}
.img{
  margin-left: 13px;
}

.img:hover{
  transform: scale(1.1);
}

.title{
  margin-top: 5%;
  font-size: 22px;
}

.genre{
  width: 20%;
  height: 100%;
  display: inline-block;
}

.card .genre{
  width: 8rem;
  background-color: #f5677c;
}

.center{
 float: left; 
 width: 91%;
 height: 200px;
 margin: 1px;
 overflow: hidden;
 /*will change this to hidden later to deny scolling to user*/
 white-space: nowrap;
}

.genre_title{
  text-align: center;
  margin-top: 70%;
  
}

.button_leftarrow{
  background-color: light-dark;
  border:none;
  height: 400%;
  width: 150%;
  margin-left: 0px;
  opacity: 0.2;
  color: black;
}

.button_rightarrow{
  background-color: light-dark;
  border:none;
  height: 400%;
  width: 150%;
  margin-left: -14px;
  opacity: 0.2;
}

.button_leftarrow:hover,.button_rightarrow:hover{
  color: black;
  opacity: 0.6;
}